<div class="container pages" id="know_jerk">
	
	<h1>You know a Jerk ?!</h1>

	<p>
		I want to know now! Why is he a jerk? Tell everybody the story of this guy. Yeah... I think it's a guy. May be a girl... but... no a guy. No matter, you can write us the story and if it's really a jerk story, we'll post it.
	</p>

	<div class="actions">
		<a href="mailto:newjerk@jerkstory.com" class="btn btn-primary btn-lg">Send the Jerk Sotry</a>
	</div>

</div>